[project]
name = "databricks-azure-ad-sync-provider"
version = "0.1.4"
description = "Default template for PDM package"
authors = [
    {name = "Nicolas", email = "nicolas.jankelevitch@dataroots.io"},
    {name = "Bram", email = "bram.decoster@dataroots.io"},
    {name = "Adrien", email = "adrien@dataroots.io"},
    {name = "Xuyao", email = "xuyao@dataroots.io"},
    {name = "Sam", email = "sam@dataroots.io"}
]
dependencies = [
    "azure-identity>=1.15.0",
    "databricks-sdk>=0.17.0",
    "msgraph-sdk>=1.0.0",
    "ConfigParser>=6.0.0",
    "pyyaml>=6.0.1",
    "pytest>=7.4.4",
]
requires-python = "==3.9.*"
readme = "README.md"
license = {text = "MIT"}


[tool.pdm]
distribution = false

[tool.pdm.dev-dependencies]
dev = [
    "ruff>=0.1.13",
    "pre-commit>=3.6.0",
]

[tool.ruff.lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
]
