:root {
    --right_side_bg_color: #DDDDFF;
    --index_module_bg_color: #0B507F;
    --index_module_hover_color: #2785C4;
    --index_submenu_bg_color: #2785C4;
    --index_submenu_hover_color: #66B1E4;
    --menu_font_color: #FFFFFF;
    --doc_title_bar_color: #EEEEEE;
    --error_menu_color: #FF0000;
    --titles_color: #0B507F;
    --titles_font_weight: 600;
    --title0_font_size: 20pt;
    --title1_font_size: 18pt;
    --title2_font_size: 16pt;
    --title3_font_size: 14pt;
    --title4_font_size: 12pt;
    --class_docstring_font_size: 12pt;
    --method_docstring_font_size: 10pt;
    --function_docstring_font_size: 12pt;
    --section_offset: 20px;
}

li.error_li {
    background-color: var(--error_menu_color);
}

div.shadow_bar {
    background-color: var(--doc_title_bar_color);
    border-style: none none groove none
}

span.title0 {
    font-size: var(--title0_font_size);
    color: var(--titles_color);
    font-weight: var(--titles_font_weight);
}

span.title1 {
    font-size: var(--title1_font_size);
    color: var(--titles_color);
    font-weight: var(--titles_font_weight);
}

span.title2 {
    font-size: var(--title2_font_size);
    color: var(--titles_color);
    font-weight: var(--titles_font_weight);
}

span.title3 {
    font-size: var(--title3_font_size);
    color: var(--titles_color);
    font-weight: var(--titles_font_weight);
}

span.title4 {
    font-size: var(--title4_font_size);
    color: var(--titles_color);
    font-weight: var(--titles_font_weight);
}

div.shift_div {
    padding-left: var(--section_offset);
}

div.class_docstring_div {
    font-size: var(--class_docstring_font_size);
}

div.method_docstring_div {
    font-size: var(--method_docstring_font_size);
}

div.function_docstring_div {
    font-size: var(--function_docstring_font_size);
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-indent: 0px;
}

.aside {
    padding: 0;
    margin: 0;
}

#left_panel
{
    width: 20%;
    float: left;
    background-color: var(--index_module_bg_color);
}

#right_panel
{
    float: right;
    width: 78%;
    background-color: var(--right_side_bg_color);
}

.mainmenu {
    padding: 0px;
    margin: 0 px;
}

.mainmenu li {
    position: relative;
    list-style: none;
}

.mainmenu li:hover {
    background-color: var(--index_module_hover_color);
}

.mainmenu li a {
    display: block;
    min-width: 150px;
    padding: 5px;
    color: var(--menu_font_color);
    text-decoration: none;
}

.mainmenu li ul {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    padding: 0px;
    margin: 0 px;
}

.mainmenu li:hover > ul {
    display: block;
}

.mainmenu li ul li {
    background: var(--index_submenu_bg_color);
    list-style: none;
    width: auto;
}

.mainmenu li ul li :hover {
    background-color: var(--index_submenu_hover_color);
}
