[tool.poetry]
name = "prophet-numpyro"
version = "0.1.0.post1"
description = ""
authors = ["Felipe Angelim <felipeangelim@gmail.com>"]
readme = "README.md"
packages = [{ include = "prophet_numpyro", from="src"}]

[tool.poetry.dependencies]
python = ">=3.9, <3.13"
sktime = ">=0.21"
numpyro = "^0.13.2"




[tool.poetry.group.dev.dependencies]
ipykernel = "^6.26.0"
pytest = "^8.0.0"
sphinx = "^7.2.6"
arviz = "^0.17.0"
matplotlib = "^3.8.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
